label{display:block;}
body{
	font-family:sans-serif;margin:20px;opacity:0;transition:linear 0.2s;
	background: -webkit-linear-gradient(-5deg, #CCC 0%,#FFF 120px);
	background-repeat: no-repeat;
}
#logo{float:left;margin-right:10px;}
#exthometxt{color:black;}
h3{margin:4px;}
a{text-decoration:none;color:blue;cursor:pointer;}
a:hover{text-decoration:underline;}
label{padding:5px 5px 5px 5px;position:relative;}
label:hover{background-color:#DDD;}
label.changed:before{
	display: inline-block;
	content: "*";
	position:absolute;
	top:3px;right:3px;
	color:red;
}
.toggleOpts{padding:5px 5px 5px 5px;display:block;width:400px;color:black;font-size:16px;font-weight:bold;}
.toggleOpts:hover{background-color:#DDD;border-top-right-radius: 8px;border-bottom-left-radius: 8px;;}
#history{position:relative;margin-bottom:15px;display:none;background-color:white;box-shadow: 0px 0px 5px 2px white;}
#historyInner{overflow-y:auto;overflow-x:hidden;}
.clickSwatch{width:22px;height:22px;display:inline-block;cursor:copy;}
.clickSwatch.last-selection{box-shadow: black 0px 0px 1px 1px inset;}
.hist_drag_sizer{display:block;background-color:#CCC;opacity:0.5;position:absolute;}
#swatch-holder{position:absolute;width:400px;left:480px;transition:margin-top ease-out 0.1s;margin-bottom:35px;}
.swatch{padding:10px;}
.swatch .hex{background-color:transparent;border:none;text-shadow:1px 1px 6px white;width: 72px;padding-left:10px;}
.swatch .close{float:right;cursor:pointer;}
#req_win, #req_mac{display:none;}
.rounded{
	border:2px solid #AAA;
	text-decoration:none;
	padding:6px;margin:3px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color:#9A9A9A;
	text-shadow:black 1px 1px 3px;
	color:white;
	box-shadow:black 2px 2px 2px;
}
.rounded:hover{
	text-shadow:black 1px 1px 2px;
	box-shadow:black 1px 1px 2px;
}
.registered{color:#080;font-weight:normal;}
.unregistered{color:#F00;font-weight:normal;}
#cotd{display:none;}
#options{width:400px;}
#adv_options{
	width:364px;
	border:1px solid #e6e6e6;
	padding:15px;
	display:none;
}
#status{display:block;height:30px;padding:5px;}
#ifcotd{width:100px;height:40px;border:none;overflow:hidden;}
.indented-area{
	margin-left:14px;
}
.options-btn{
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	padding: 7px;
}

@media only screen and (max-width : 896px){
	#swatch-holder{
		position:relative;
		width:auto;left:0;
		margin-top: 0px !important;
	}
}
