label{display:block;}
body{font-family:sans-serif;margin:20px;opacity:0;transition:linear 0.2s;}
#logo{float:left;margin-right:10px;}
h3{margin:4px;}
a{text-decoration:none;color:blue;cursor:pointer;}
a:hover{text-decoration:underline;}
label{padding:5px 5px 5px 5px;}
label:hover{background-color:#DDD;}
.toggleOpts{padding:5px 5px 5px 5px;display:block;width:400px;}
.toggleOpts:hover{background-color:#DDD;}
#history{position:relative;margin-bottom:15px;display:none;background-color:white;}
#historyInner{overflow-y:auto;overflow-x:hidden;}
.clickSwatch{width:22px;height:22px;display:inline-block;cursor:copy;}
.hist_drag_sizer{display:block;background-color:#CCC;opacity:0.5;position:absolute;}
#swatch-holder{position:absolute;width:400px;left:480px;transition:margin-top ease-out 0.1s;}
.swatch{padding:10px;}
.swatch .hex{background-color:transparent;border:none;text-shadow:1px 1px 6px white;width: 72px;padding-left:10px;}
.swatch .close{float:right;cursor:pointer;}
#req_win, #req_mac{display:none;}
.rounded{
	border:2px solid #AAA;
	text-decoration:none;
	padding:6px;margin:3px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color:#9A9A9A;
	text-shadow:black 1px 1px 3px;
	color:white;
	box-shadow:black 2px 2px 2px;
}
.rounded:hover{
	text-shadow:black 1px 1px 2px;
	box-shadow:black 1px 1px 2px;
}
.registered{color:#080;font-weight:bold;}
.unregistered{color:#F00;font-weight:bold;}
#cotd{display:none;}
#options{width:400px;}
#adv_options{
	width:400px;
	border:1px solid #888;
	padding:15px;
	display:none;
}
#status{display:block;height:30px;padding:5px;}
#ifcotd{width:100px;height:40px;border:none;overflow:hidden;}