body{position:relative;width:150px;font-family:arial,sans-serif;font-size:12px;padding:0px 4px 0px 4px;margin:0px;overflow-y:auto;overflow-x:hidden;}
a{text-decoration:none;position:relative;margin:2px;padding:3px;}
a.hilight:hover{color:#338;background-color:#AAF;}
#eclose img{position:relative;top:3px;}
#preview{position:relative;width:152px;height:152px;}
#pre{cursor:move;min-width:150px;border:1px solid grey;}
a.mvarrow{position:absolute;color:black;text-shadow:0px 0px 5px white;display:none;font-size:13px;}
#arr_u{left:43%;top:-1px;}
#arr_d{left:43%;bottom:-1px;}
#arr_l{top:41%;left:-1px;}
#arr_r{top:41%;right:-1px;}
.lbrow{position:relative;padding-left:30px;margin-left:5px;}
.lb{position:absolute;top:5px;left:0px;}
#cssmode{display:none;width:150px;}
#defaultmode{width:150px;}
#pres{position:relative;width:150px;height:36px;border:1px solid grey;z-index:1;top:-1px;}
#ohexpre{z-index:0;position:absolute;left:0px;top:0px;width:150px;min-height:36px;}
#hexpre{z-index:9999;position:absolute;left:0px;top:0px;width:75px;min-height:36px;cursor:url(img/icon16.png) 8 8,hand;}
#ctrls{margin:-3px 0 0 -2px;z-index:-1;}
#ctrls a{margin-right:2px;display:inline-block;vertical-align: top;}
#unreg_msg{display:none;position:absolute;bottom:0;left:0;width:75;text-align:left;color:blue;font-weight:bold;text-shadow:white 1px 1px 1px;padding:5px 3px;}
#timer_msg{position:absolute;bottom:0;right:0;width:75;text-align:left;color:red;font-weight:bold;text-shadow:white 1px 1px 1px;padding:5px 3px;}
.btnActive{border:1px solid #FFB923;}
.autocast{background:#FFE2A0 -webkit-linear-gradient(-45deg, #fefcea 45%,#ffdc8c 49%,#fefcea 95%);}
.btnInactive{border:1px solid #F66;background-image:url(img/lock.png);background-position:center center;background-repeat:no-repeat;}
#chooser{position:absolute;left:163px;top:11px;display:none;margin-bottom:10px;}
#slider_hue{display:block;position:absolute;top:0px;left:270px;width:35px;}
#hue_grad{position:relative;left:8px;}
#hue_pos{position:absolute;left:0px;z-index:-1;}
#gradi_box{position:relative;overflow:hidden;width:256px;height:256px;cursor:url(img/crosshair.png) 16 16,crosshair;}