body{position:relative;width:150px;font-family:arial,sans-serif;font-size:12px;padding:0px 4px 0px 4px;margin:0px;overflow-y:auto;overflow-x:hidden;min-height:300px;}
a{text-decoration:none;position:relative;margin:2px;padding:3px;}
a.hilight:hover{color:#338;background-color:#AAF;}
#eclose{margin:5px 0; padding: 3px 3px 3px 0px;}
.rtl #eclose{padding: 3px 0px 3px 3px;}
#eclose img{position:relative;top:3px;vertical-align:bottom;}
#preview{position:relative;width:152px;height:152px;}
#pre{cursor:move;min-width:150px;border:1px solid grey;}
a.mvarrow{position:absolute;color:black;text-shadow:0px 0px 5px white;display:none;font-size:13px;}
#arr_u{left:43%;top:-1px;}
#arr_d{left:43%;bottom:-1px;}
#arr_l{top:41%;left:-1px;}
#arr_r{top:41%;right:-1px;}
#hex{font-size:1.5em;}
input{padding:9px 5px;}
.lbrow{position:relative;padding-left:32px;margin-left:5px;}
.rtl .lbrow{padding-left:0px;margin-left:0px;padding-right:32px;margin-right:5px;}
.lbrow input.fullwidth{width:115px;}
.lbrow input.thirdw{width:37px}
.lb{position:absolute;top:9px;left:0px;}
.rtl .lb{left:auto;right:0px;}
#cssmode{display:none;width:150px;}
#defaultmode{width:150px;}
#pres{position:relative;width:150px;height:36px;border:1px solid grey;z-index:1;top:-1px;}
#ohexpre{z-index:0;position:absolute;left:0px;top:0px;width:150px;min-height:36px;cursor:url(img/icons/history/icon32.png) 16 16,hand;}
#hexpre{z-index:9999;position:absolute;left:0px;top:0px;width:75px;min-height:36px;cursor:url(img/icons/no-shadow/icon32.png) 16 16,hand;}
.promt-row{margin:0;padding:12px 0 13px;text-align:center;display:block;cursor:pointer;width:152px;font-size:0.9em;}
#ctrls{margin:-3px 0 0 -2px;z-index:-1;}
#ctrls a{margin-right:2px;display:inline-block;vertical-align: top;}
.rtl #ctrls a{margin-right:0;margin-left:2px;}
#unreg_msg{display:none;position:absolute;bottom:0;left:0;width:75;text-align:left;color:blue;font-weight:bold;text-shadow:white 1px 1px 1px;padding:5px 3px;}
#timer_msg{position:absolute;bottom:0;right:0;width:75;text-align:left;color:red;font-weight:bold;text-shadow:white 1px 1px 1px;padding:5px 3px;}
#alt-snap-mode-link{position:absolute;top: 0;left: 0;width: 80%;height: 80%;display: block;text-align: center;margin: 0;padding: 10%;text-shadow:white 1px 1px 1px;}
#alt-snap-mode-link:visited{color:blue;}
.btnActive{border:1px solid #FFB923;}
.autocast{background:#FFE2A0 -webkit-linear-gradient(-45deg, #fefcea 45%,#ffdc8c 49%,#fefcea 95%);}
.btnInactive{border:1px solid #F66;background-image:url(img/lock.png);background-position:center center;background-repeat:no-repeat;}
#chooser{position:absolute;left:163px;top:11px;display:none;margin-bottom:10px;}
.rtl #chooser{left:auto;right:163px;}
#slider_hue{display:block;position:absolute;top:0px;left:270px;width:35px;}
.rtl #slider_hue{left:auto;right:270px;}
#hue_grad{position:relative;left:8px;}
.rtl #hue_grad{left:auto;right:8px;}
#hue_pos{position:absolute;left:0px;z-index:-1;}
.rtl #hue_pos{left:auto;right:0px;}
#gradi_box{position:relative;overflow:hidden;width:256px;height:256px;cursor:url(img/crosshair.png) 16 16,crosshair;}
#ch_ctrls_box{text-align:center;margin-top:3px;}
