body{font-family:sans-serif;margin:20px;opacity:0;transition:linear 0.2s;font-size:14px;line-height:1.75em;margin-bottom:100px;}
#regDiv{
	width:500px;
	text-align:right;
	margin-top:3px;
}
#regDiv input{
	width:400px;
}
#regGo{
	position:relative;margin-left:100px;
}
#loading{position:absolute;left:-20px;top:5px;display:none;}
.registered{color:#080;font-weight:bold;}
.unregistered{color:#F00;font-weight:bold;}
.rounded{
	display:inline-block;
	text-align:center;
	border:2px solid #333;
	text-decoration:none;
	padding:6px;margin: 13px 13px 19px 13px;;
	border-radius: 8px;
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	text-shadow:white 1px 1px 3px;
	color:black;
	box-shadow:black 1px 1px 2px;
	position:relative;
}
.rounded:hover{
	text-shadow:white 1px 1px 5px;
	box-shadow:black 2px 2px 3px;
	text-decoration: none;
}
.logod img{vertical-align:middle;}
h2 .subh{font-size:12px;position:relative;}
h3 {
	font-size:18px;
}
a{text-decoration:none;color:blue;}
a:hover{text-decoration:underline;}
.pointer{
	cursor:pointer;
}
.expand-triangle{
	width:16px;height:16px;
}
#chrome-inapp{
	min-height:33px;
}
.note-bubble{
	color: black;
	background-color: #F7FFBF;
	border-radius: 10px;
	border: 2px solid #FFE9B9;
	padding: 8px;
}
.greeen{
	background-color: #F4FFF6;
	border: 2px solid #080;
}